<template>
  <div class="menu">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 85%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Makanan</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <img
                  style="height: 120px"
                  :src="formringan.image"
                  alt=""
                  width="100px"
                />
                <br />
                <br />

                <h5 class="modalringan">
                  <div>Nama: {{ formringan.nama }}</div>
                  <div>Keterangan: {{ formringan.expired }}</div>
                  <div>Harga: Rp{{ formringan.harga }}</div>
                </h5>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan ringan -->
      <div class="block">
        <table
          v-show="!updateSubmitRingan"
          id="table-1"
          class="table"
          border="1"
          style="width: 93%"
        >
          <tr class="tr">
            <th>NO</th>
            <th>Nama Makanan</th>
            <th>Deskripsi</th>
            <th>Contoh</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>

          <tr class="tr1" v-for="(ringan, index) in ringans" :key="ringan.id">
            <td>
              <span class="bb"> {{ index + 1 }}</span>
            </td>
            <td>
              <span class="bb"> {{ ringan.nama }}</span>
            </td>
            <td>
              <span class="bb">{{ ringan.deskripsi }}</span>
            </td>
            <td>
              <span
                ><img
                  style="height: 120px; padding: 3%"
                  :src="ringan.image"
                  alt=""
                  width="100px"
              /></span>
            </td>
            <td>{{ ringan.harga }}</td>
            <td style="padding: 10px">
              <button
                class="detail"
                v-if="!akun"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2"
                type="button"
                @click="ringanDetail(ringan)"
              >
                <i class="fas fa-info-circle"></i>
                Detail
              </button>
              <button
                class="detail"
                v-if="akun"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal2"
                type="button"
                style="margin-left: 10%"
                @click="ringanDetail(ringan)"
              >
                <i class="fas fa-info-circle"></i>
                Detail
              </button>
              <button
                class="beli"
                v-if="akun"
                @click="beliringan(ringan)"
                type="button"
                style="margin-left: 5%"
              >
                <i style="margin: 3px 3px" class="fas fa-shopping-cart"></i>
                beli
              </button>
            </td>
          </tr>
        </table>
      </div>
      <!-- end makanan ringan -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "Makananringan",
  components: {
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  data() {
    return {
      formringan: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      ringans: "",
      updateSubmitringan: false,
    };
  },
  mounted() {
    this.loadringan();
  },
  methods: {
    loadringan() {
      axios
        .get("http://localhost:3000/ringans")

        .then((res) => {
          this.ringans = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    beliringan(ringan) {
      this.setCart([...this.cart, ringan]);
    },
    ringanDetail(ringan) {
      this.formringan.id = ringan.id;
      this.formringan.nama = ringan.nama;
      this.formringan.expired = ringan.expired;
      this.formringan.image = ringan.image;
      this.formringan.harga = ringan.harga;
    },
  },
};
</script>
<style scoped>
table {
  margin-left: 70px;
  background-color: #0a67a1;
  color: white;
}

table,
td,
th {
  border: 2px solid white;
  text-align: center;
}
.modalringan {
  text-align: left;
}
.block {
  padding-left: 120px;
  padding-right: 120px;
  padding-top:50px
}
.button {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tr1:hover {
  background-color: #007ecc;
  transition: 1s;
}
th {
  background-color: #114a6d;
  color: white;
}

button {
  border: none;
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beli {
  background-color: green;
  border-radius: 10px;
  padding: 9px;
  width: 100px;
  color: white;
  margin-left: 100px;
}
.beli:hover {
  background-color: rgb(71, 165, 48);
}
.menu {
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}
</style>
