<template>
<div class="dataMainan">
     <button
        style="height: auto; width: auto"
        class="btn btn-primary add"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample10"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Button
      </button>
      <div class="collapse" id="collapseExample10">
        <div class="card card-body">
          <form @submit.prevent="addmainan">
            <input type="hidden" v-model="formMainan.id" />
            <label>Nama Mainan</label>
            <input
              placeholder="Masukan Nama Barang.."
              class="input"
              type="text"
              v-model="formMainan.nama"
              required
            />
            <label>Deskripsi</label>
            <input
              placeholder="Masukan Deskripsinya.."
              class="input"
              type="text"
              v-model="formMainan.deskripsi"
              required
            />
            <label>Gambar</label>
            <input
              placeholder="Masukan Gambar.."
              class="input"
              type="text"
              v-model="formMainan.image"
              required
            />
            <label class="bb">Expired</label>
            <input
              placeholder="Masukan Expirednya.."
              class="input"
              type="text"
              v-model="formMainan.expired"
              required
            />
            <label class="jenis">Harga</label>
            <input
              placeholder="Masukan Harganya.."
              class="input"
              type="text"
              v-model="formMainan.harga"
              required
            />
            <button class="close"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample10"
            >
              Close
            </button>
            <button
              class="btn btn-primary button_add"
              type="submit"
              v-show="!updateSubmitMainan"
            >
              ADD
            </button>
            <button
              class="btn btn-primary button_add"
              type="button"
              v-show="updateSubmitMainan"
              @click="update10()"
            >
              Update
            </button>
          </form>
        </div>
      </div>
      <div class="kotak">
      <table
        v-show="!updateSubmitMainan"
        id="table-1"
        class="table"
        border="1"
        style="width: 100%"
      >
        <tr class="tr">
          <th style="width:3%">NO</th>
          <th>Nama Barang</th>
          <th>Deskripsi</th>
          <th>Contoh</th>
          <th style="width:10%">Expired</th>
          <th style="width:10%">Harga</th>
          <th>Action</th>
        </tr>

        <tr class="tr" v-for="(mainan, index9) in mainans" :key="index9">
          <td>
            {{ index9 + 1 }}
          </td>
          <td>
            {{ mainan.nama }}
          </td>
          <td style="width: 400px">
            {{ mainan.deskripsi }}
          </td>
          <td>
            <img
              style="height: 120px"
              :src="mainan.image"
              alt=""
              width="100px"
            />
          </td>
          <td>
            {{ mainan.expired }}
          </td>
          <td>{{ mainan.harga }}</td>
          <td>
            <button
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample10"
              class="btn btn-primary edit"
              @click="edit10()"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger del" @click="del10(mainan)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </table>
      </div>
</div>
</template>
<script>
import axios from "axios";
import Swal from "sweetalert2";
export default {
  name: "DataMainan",
  mounted() {
    if (!sessionStorage.getItem("USER_DATA")) {
      this.$router.push("/");
    }
    this.loadmainan();
  },
  data() {
    return {
      formMainan: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        harga: "",
      },
      mainans: "",
      updateSubmitMainan: false,
    };
  },
  methods: {
    loadmainan() {
      axios
        .get("http://localhost:3000/mainans")

        .then((res) => {
          this.mainans = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    addmainan() {
      const payload = {
        ...this.formMainan,
        harga: Number(this.formMainan.harga),
      };
      axios.post("http://localhost:3000/mainans/", payload).then(() => {
        this.loadmainan();
        this.formMainan.nama = "";
        this.formMainan.deskripsi = "";
        this.formMainan.image = "";
        this.formMainan.expired = "";
        this.formMainan.harga = "";
        Swal.fire("Success", "Data Anda Berhasil Ditambahkan", "success");
      });
    },
    edit10(mainan) {
      this.updateSubmitMainan = true;
      this.formMainan.id = mainan.id;
      this.formMainan.nama = mainan.nama;
      this.formMainan.deskripsi = mainan.deskripsi;
      this.formMainan.image = mainan.image;
      this.formMainan.expired = mainan.expired;
      this.formMainan.harga = mainan.harga;
    },
    update10() {
      return axios
        .put("http://localhost:3000/mainans/" + this.formMainan.id, {
          nama: this.formMainan.nama,
          deskripsi: this.formMainan.deskripsi,
          image: this.formMainan.image,
          expired: this.formMainan.expired,
          harga: this.formMainan.harga,
        })
        .then(() => {
          this.loadmainan();
          this.formMainan.id = "";
          this.formMainan.nama = "";
          this.formMainan.deskripsi = "";
          this.formMainan.image = "";
          this.formMainan.expired = "";
          this.formMainan.harga = "";
          this.updateSubmitMainan = false;
          Swal.fire("Success", "Data Anda Berhasil Diupdate", "success");
        })
        .catch((err) => {
          console.log(err);
        });
    },
    del10() {
      axios
        .delete("http://localhost:3000/mainans/" + this.mainan.id)
        .then(() => {
          this.loadmainan();
          let index = this.mainans.indexOf(this.formMainan.nama);
          this.mainans.splice(index, 1);
          Swal.fire("Success", "Data Anda Berhasil Dihapus", "success");
        });
    },
  },
};
</script>
<style scoped>
.close {
  background-color: rgb(0, 57, 77);
  color: white;
  border:none;
  border-radius: 5px;
}
.close:hover {
  background-color: rgb(2, 74, 100);
}
.edit {
  border: none;
  background-color: rgb(0, 89, 255);
  width: 70px;
}
.del {
  border: none;
  background-color: rgb(255, 0, 0);
  width: 70px;
}
.header {
  margin: 50px 100px;
}
.categori {
  margin-bottom: 50px;
}
button {
  margin-left: 20px;
  height: 50px;
  width: 200px;
}
.add {
  margin: 0 0 20px 30px;
}
.input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}
table {

  background-color: rgb(0, 93, 124);
  text-align: center;
  height: 500px;
  color:white
}
table, td, th {
  border: 2px solid;
    width: 1000px; 
  text-align: center;
}
th {
  background-color: rgb(0, 57, 77);
}
.kotak {
  padding-left:20px;
  padding-right:20px;
}
</style>

