<template>
  <div class="elektronik">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 85%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="elektronik"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail {{ formelektronik.nama }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <img
                  style="height: auto"
                  :src="formelektronik.image"
                  alt=""
                  width="100px"
                />
                <br />
                <br />

                <h3 class="modalelektronik">
                  <div>Nama: {{ formelektronik.nama }}</div>
                  <div>Keterangan: {{ formelektronik.expired }}</div>
                  <div>Harga: Rp{{ formelektronik.harga }}</div>
                </h3>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan elektronik -->
      <div class="block">
      <table
        v-show="!updateSubmit"
        id="table-1"
        class="table"
        border="1"
        style="width: 93%"
      >
        <tr class="tr">
          <th style="width:5%">NO</th>
          <th>Nama Makanan</th>
          <th>Deskripsi</th>
          <th>Contoh</th>
          <th>Harga</th>
          <th>Action</th>
        </tr>

        <tr
          class="tr1"
          v-for="(elektronik, index) in elektroniks"
          :key="elektronik.id"
        >
          <td>
            <span class="bb"> {{ index + 1 }}</span>
          </td>
          <td>
            <span class="bb"> {{ elektronik.nama }}</span>
          </td>
          <td>
            <span class="bb">{{ elektronik.deskripsi }}</span>
          </td>
          <td>
            <span
              ><img
                style="height: auto"
                :src="elektronik.image"
                alt=""
                width="100px"
            /></span>
          </td>
          <td class="bb">
            {{ elektronik.harga }}
          </td>
        
          <td>
            <div class="tombol">
            <button class="detail" v-if="!akun"
              data-bs-toggle="modal"
              data-bs-target="#elektronik"
              type="button"
              @click="elektronikDetail(elektronik)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
              <button class="detail" v-if="akun"
              data-bs-toggle="modal"
              data-bs-target="#elektronik"
              type="button"
              @click="elektronikDetail(elektronik)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
            <button class="beli" v-if="akun" @click="belielektronik(elektronik)" type="button"><i class="fas fa-shopping-cart"></i>
              beli
            </button>
            </div>
          </td>
        </tr>
      </table>
      </div>
      <!-- end makanan elektronik -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "Makananelektronik",
  components: {
    Sidebar,
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formelektronik: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      elektroniks: "",
      updateSubmitelektronik: false,
    };
  },
  mounted() {
    this.loadelektronik();
    this.loadbali();
  },
  methods: {
    loadelektronik() {
      axios
        .get("http://localhost:3000/elektroniks")

        .then((res) => {
          this.elektroniks = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    belielektronik(elektronik) {
      this.setCart([...this.cart, elektronik]);
    },
    elektronikDetail(elektronik) {
      this.formelektronik.id = elektronik.id;
      this.formelektronik.nama = elektronik.nama;
      this.formelektronik.expired = elektronik.expired;
      this.formelektronik.image = elektronik.image;
      this.formelektronik.harga = elektronik.harga;
    },
  },
};
</script>
<style scoped>
.table {
  margin-left: 70px;
  background-color: #0a67a1;
  text-align: center;
  height: 500px;
  color:white;
}
.table, td, th {
  border: 2px solid;
    width: 1000px; 
  text-align: center;
}
.modalelektronik {
  text-align: left;
}
.block {
  padding-left: 120px;
  padding-right: 120px;
   padding-top:50px;
}

th {
  background-color: #002841;
    color:white

}
th {
  background-color: #114a6d;
  color: white;

}
.tr1:hover {
  background-color: #007ecc;
  transition: 1s;  
}
button {
  border: none;
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
  padding: 9px;
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beli {
  background-color: green;
  border-radius: 10px;
  padding: 9px;
  width: 100px;
  color: white;
  margin-left: 10px;
}
.beli:hover {
    background-color: rgb(71, 165, 48);
}
.elektronik {
   background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}

</style>
