<template>
  <div class="anak">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 85%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="anak"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail {{ formAnak.nama }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <img
                  style="height: 120px"
                  :src="formAnak.image"
                  alt=""
                  width="100px"
                />
                <br />
                <br />

                <h3 class="modalanak">
                  <div>Nama: {{ formAnak.nama }}</div>
                  <div>Keterangan: {{ formAnak.expired }}</div>
                  <div>Harga: Rp{{ formAnak.harga }}</div>
                </h3>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan anak -->
      <div class="block">
      <table
        v-show="!updateSubmit"
        id="table-1"
        class="table"
        border="1"
        style="width: 93%"
      >
        <tr class="tr">
          <th style="width:5%">NO</th>
          <th>Nama Makanan</th>
          <th>Deskripsi</th>
          <th>Contoh</th>
          <th>Harga</th>
          <th>Action</th>
        </tr>

        <tr class="tr1" v-for="(anak, index) in anaks" :key="anak.id">
          <td>
            <span class="bb"> {{ index + 1 }}</span>
          </td>
          <td>
            <span class="bb"> {{ anak.nama }}</span>
          </td>
          <td>
            <span class="bb">{{ anak.deskripsi }}</span>
          </td>
          <td>
            <span
              ><img
                style="height: 120px"
                :src="anak.image"
                alt=""
                width="100px"
            /></span>
          </td>
          <td>
            {{ anak.harga }}
          </td>
          <td>
             <button class="detail" v-if="!akun"
              data-bs-toggle="modal"
              data-bs-target="#anak"
              type="button"
              @click="anakDetail(anak)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
            <button class="detail" v-if="akun"
              data-bs-toggle="modal"
              data-bs-target="#anak"
              type="button"
              @click="anakDetail(anak)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
            <button class="beli" v-if="akun" @click="belianak(anak)" type="button"><i class="fas fa-shopping-cart"></i>
              beli
            </button>
          </td>
        </tr>
      </table>
      </div>
      <!-- end makanan anak -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "KebutuhanAnak",
  components: {
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formAnak: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      anaks: "",
      updateSubmitanak: false,
    };
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  mounted() {
    this.loadanak();
  },
  methods: {
    loadanak() {
      axios
        .get("http://localhost:3000/anaks")

        .then((res) => {
          this.anaks = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    belianak(anak) {
      this.setCart([...this.cart, anak]);
    },
    anakDetail(anak) {
      this.formanak.id = anak.id;
      this.formanak.nama = anak.nama;
      this.formanak.expired = anak.expired;
      this.formanak.image = anak.image;
      this.formanak.harga = anak.harga;
    },
  },
};
</script>
<style scoped>
table {
  margin-left: 70px;
  background-color: #0a67a1;
  color:white;
  height: 500px;
}
table, td, th {
  border: 2px solid;
  width: 700px;
  text-align: center;
}
.modalanak {
  text-align: left;
}
.block {
  padding-left: 120px;
  padding-right: 120px;
     padding-top:50px;
}
th {
  background-color: #002841;
  color: white;
}

button {
  border: none;
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beli {
  background-color: green;
  border-radius: 10px;
  padding: 9px;
  width: 100px;
  color: white;
  margin-left: 10px;
}
.beli:hover {
    background-color: rgb(71, 165, 48);
}
.anak {
   background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}
.tr1:hover {
  background-color: #007ecc;
  transition: 1s;  
}
</style>
