<template>
  <div class="kuota">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 85%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="kuota"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail {{ formkuota.nama }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <img
                  style="height: auto"
                  :src="formkuota.image"
                  alt=""
                  width="100px"
                />
                <br />
                <br />

                <h3 class="modalkuota">
                  <div>Nama: {{ formkuota.nama }}</div>
                  <div>Keterangan: {{ formkuota.expired }}</div>
                  <div>Harga: Rp{{ formkuota.harga }}</div>
                </h3>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan kuota -->
      <div class="block">
        <table
          v-show="!updateSubmit"
          id="table-1"
          class="table"
          border="1"
          style="width: 93%"
        >
          <tr class="tr">
            <th style="width:5%">NO</th>
            <th>Nama Makanan</th>
            <th>Deskripsi</th>
            <th>Contoh</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>

          <tr class="tr1" v-for="(kuota, index) in kuotas" :key="kuota.id">
            <td>
              <span class="bb"> {{ index + 1 }}</span> &#160;
            </td>
            <td>
              <span class="bb"> {{ kuota.nama }}</span> &#160;
            </td>
            <td>
              <span class="bb">{{ kuota.deskripsi }}</span> &#160;
            </td>
            <td>
              <span
                ><img
                  style="height: auto"
                  :src="kuota.image"
                  alt=""
                  width="100px"
              /></span>
              &#160;
            </td>
            <td>{{ kuota.harga }}</td>
            <td>
              <button
                class="detail"
                v-if="!akun"
                data-bs-toggle="modal"
                data-bs-target="#kuota"
                type="button"
                @click="kuotaDetail(kuota)"
              ><i class="fas fa-info-circle"></i>
                Detail
              </button>
              <button
                class="detail"
                v-if="akun"
                data-bs-toggle="modal"
                data-bs-target="#kuota"
                type="button"
                @click="kuotaDetail(kuota)"
              ><i class="fas fa-info-circle"></i>
                Detail
              </button>
              <button
                class="beli"
                v-if="akun"
                @click="belikuota(kuota)"
                type="button"
              ><i class="fas fa-shopping-cart"></i>
                beli
              </button>
            </td>
          </tr>
        </table>
      </div>
      <!-- end makanan kuota -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "Makanankuota",
  components: {
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formkuota: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      kuotas: "",
      updateSubmitkuota: false,
    };
  },
  mounted() {
    this.loadkuota();
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  methods: {
    loadkuota() {
      axios
        .get("http://localhost:3000/kuotas")

        .then((res) => {
          this.kuotas = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    belikuota(kuota) {
      this.setCart([...this.cart, kuota]);
    },
    kuotaDetail(kuota) {
      this.formkuota.id = kuota.id;
      this.formkuota.nama = kuota.nama;
      this.formkuota.expired = kuota.expired;
      this.formkuota.image = kuota.image;
      this.formkuota.harga = kuota.harga;
    },
  },
};
</script>
<style scoped>
.table {
  margin-left: 70px;
  background-color: #0a67a1;
  height: 500px;
  color: white;
}

table,
td,
th {
  border: 2px solid;
  width: 1000px;
  text-align: center;
}
.modalkuota {
  text-align: left;
}
.block {
  padding-left: 120px;
  padding-right: 120px;
     padding-top:50px;
}

.button {
  display: flex;
  justify-content: center;
  gap: 10px;
}
th {
  background-color: #002841;
  color: white;

}
.tr1:hover {
  background-color: #007ecc;
  transition: 1s;  
}
button {
  border: none;
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beli {
  background-color: green;
  border-radius: 10px;
  padding: 9px;
  width: 100px;
  color: white;
  margin-left: 10px;
}
.beli:hover {
    background-color: rgb(71, 165, 48);
}
.kuota {
   background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}

</style>
