<template>
  <div class="mknberat">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 85%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal1"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail {{ formberat.nama }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="data-modal">
                <img
                  style="height: 100px;width: 100px; padding:3%"
                  :src="formberat.image"
                  alt=""
                 
                />
                <br />
                <br />
                <div>
                  <h5 class="modalberat">
                    <div>Nama: {{ formberat.nama }}</div>
                    <br />
                    <div>Keterangan: {{ formberat.expired }}</div>
                    <br />
                    <div>Harga: Rp{{ formberat.harga }}</div>
                  </h5>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan berat -->
      <div class="block">
      <table
        v-show="!updateSubmit"
        id="table-1"
        class="table"
        border="1"
        style="width: 93%"
      >
        <tr class="tr">
          <th style="width:5%">NO</th>
          <th>Nama Makanan</th>
          <th>Deskripsi</th>
          <th>Contoh</th>
          <th style="width:10%">Harga</th>
          <th style="width:20%">Action</th>
        </tr>

        <tr class="tr1" v-for="(berat, index) in berats" :key="berat.id">
          <td>
            <span class="bb"> {{ index + 1 }}</span>
          </td>
          <td>
            <span class="bb"> {{ berat.nama }}</span>
          </td>
          <td>
            <span class="bb">{{ berat.deskripsi }}</span>
          </td>
          <td>
            <span
              ><img
                style="height: 100px"
                :src="berat.image"
                alt=""
                width="100px"
            /></span>
          </td>
          <td>{{berat.harga}}</td>
          <td >
            <button class="detail" v-if="!akun"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              type="button"
              @click="BeratDetail(berat)"
            ><i class="fas fa-info-circle">
              </i>Detail
            </button>
            <button class="detail" v-if="akun"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal1"
              type="button"
              @click="BeratDetail(berat)"
            ><i class="fas fa-info-circle">
              </i>
              Detail
            </button>
            <button  class="beli" v-if="akun" @click="beliberat(berat)" type="button"><i class="fas fa-shopping-cart"></i>  beli</button>
          </td>
        </tr>
      </table>
      </div>
      <!-- end makanan berat -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "MakananBerat",
  components: {
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formberat: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      berats: "",
      updateSubmitberat: false,
    };
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  mounted() {
    this.loadberat();
  },
  methods: {
    loadberat() {
      axios
        .get("http://localhost:3000/berats")

        .then((res) => {
          this.berats = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    beliberat(berat) {
      this.setCart([...this.cart, berat]);
    },
    BeratDetail(berat) {
      this.formberat.id = berat.id;
      this.formberat.nama = berat.nama;
      this.formberat.expired = berat.expired;
      this.formberat.image = berat.image;
      this.formberat.harga = berat.harga;
    },
  },
};
</script>
<style scoped>
table {
  margin-left: 70px;
  text-align: center;
  background-color: #0a67a1;
  color:white;
  height: 500px;
}
th {
  background-color: #002841;
}
table, td, th {
  border: 2px solid;
}
.modalberat {
  text-align: left;
}
.data-modal {
  display: flex;
  padding: 25px;
}
img {
  margin-right: 15px;
}
.block {
  padding-left: 120px;
  padding-right: 120px;
     padding-top:50px;
}
button {
  border: none;
  padding:10px
}
.tr1:hover {
  background-color: #007ecc;
  transition: 1s;  
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
  border:none
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beli {
  background-color: green;
  border-radius: 10px;
  width: 100px;
  color: white;
  margin-left: 10px;
  border:none;
}
.beli:hover {
    background-color: rgb(71, 165, 48);
}

.mknberat {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}

</style>
