<template>
  <div class="minuman">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 82%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal3"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail {{ formminuman.nama }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <img
                  style="height: 120px"
                  :src="formminuman.image"
                  alt=""
                  width="100px"
                />
                <br />
                <br />

                <h3 class="modalminuman">
                  <div>Nama: {{ formminuman.nama }}</div>
                  <div>Keterangan: {{ formminuman.expired }}</div>
                  <div>Harga: Rp{{ formminuman.harga }}</div>
                </h3>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan minuman -->
      <div class="blockminuman">
      <table
        v-show="!updateSubmit"
        id="table-1"
        class="table"
        border="1"
       
      >
        <tr class="tr">
          <th style="width:5%">NO</th>
          <th style="width:8%">Nama Makanan</th>
          <th style="width:50% ">Deskripsi</th>
          <th>Contoh</th>
          <th style="width:7%">Harga</th>
          <th style="width:30%">Action</th>
        </tr>

        <tr class="tr1" v-for="(minuman, index) in minumans" :key="minuman.id">
          <td>
            <span class="bb"> {{ index + 1 }}</span>
          </td>
          <td>
            <span class="bb"> {{ minuman.nama }}</span>
          </td>
          <td>
            <span class="bb">{{ minuman.deskripsi }}</span>
          </td>
          <td>
            <span
              ><img
                style="height: 120px; padding:5%"
                :src="minuman.image"
                alt=""
                width="100px"
            /></span>
          </td>
          <td>{{minuman.harga}}</td>
          <td style="padding: 10px;">
             <button class="detail" v-if="!akun"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal3"
              type="button"
              @click="minumanDetail(minuman)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
            <button class="detail" v-if="akun"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal3"
              type="button" 
              @click="minumanDetail(minuman)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
            <button class="beliminuman" v-if="akun" @click="beliminuman(minuman)" type="button"
            style="margin-left: 5%;"><i style="margin: 3px 3px" class="fas fa-shopping-cart"></i>
              beli
            </button>
          </td>
        </tr>
      </table>
      </div>
      <!-- end makanan minuman -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "MinumanPage",
  components: {
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formminuman: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      minumans: "",
      updateSubmitminuman: false,
    };
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
    mounted() {
    this.loadminuman();
  },
  methods: {
    loadminuman() {
      axios
        .get("http://localhost:3000/minumans")

        .then((res) => {
          this.minumans = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    beliminuman(minuman) {
      this.setCart([...this.cart, minuman]);
    },
    minumanDetail(minuman) {
      this.formminuman.id = minuman.id;
      this.formminuman.nama = minuman.nama;
      this.formminuman.expired = minuman.expired;
      this.formminuman.image = minuman.image;
      this.formminuman.harga = minuman.harga;
    },
  },
};
</script>
<style scoped>
table {
  margin-left: 70px;
  background-color: #0a67a1;
  color:white;
  height: 500px;
}
.table, td ,th {
  border: 2px solid;
  width: 1000px;
  text-align: center;
}
.modalminuman {
  text-align: left;
}
.blockminuman {
  padding-left: 120px;
  padding-right: 120px;
}

button {
  justify-content: space-around;
  gap: 10px;
}
th {
  background-color: #002841;
  color: white;
}

button {
  border: none;
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
  width: 100px;
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beliminuman {
  background-color: green;
  border-radius: 10px;
  padding: 9px;
  width: 80px;
  color: white;
  margin-left: 50px;
}
.beliminuman:hover {
    background-color: rgb(71, 165, 48);
}
.tr1:hover {
  background-color: #007ecc;
  transition: 1s;  
}
.minuman {
   background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}
</style>
