<template>
  <div class="obat">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 85%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="obat"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail {{ formobat.nama }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <img
                  style="height: 120px"
                  :src="formobat.image"
                  alt=""
                  width="100px"
                />
                <br />
                <br />

                <h3 class="modalobat">
                  <div>Nama: {{ formobat.nama }}</div>
                  <div>Keterangan: {{ formobat.expired }}</div>
                  <div>Harga: Rp{{ formobat.harga }}</div>
                </h3>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan obat -->
      <div class="block">
        <table
          v-show="!updateSubmit"
          id="table-1"
          class="table"
          border="1"
          style="width: 93%"
        >
          <tr class="tr">
            <th style="width: 4%">NO</th>
            <th>Nama Makanan</th>
            <th style="width: 40%">Deskripsi</th>
            <th>Contoh</th>
            <th>Harga</th>
            <th style="width: 25%">Action</th>
          </tr>

          <tr class="tr" v-for="(obat, index) in obats" :key="obat.id">
            <td>
              <span class="bb"> {{ index + 1 }}</span>
            </td>
            <td>
              <span class="bb"> {{ obat.nama }}</span>
            </td>
            <td>
              <span class="bb">{{ obat.deskripsi }}</span>
            </td>
            <td>
              <span
                ><img
                  style="height: 120px; padding: 4px"
                  :src="obat.image"
                  alt=""
                  width="140px"
              /></span>
            </td>
            <td>{{ obat.harga }}</td>
            <td style="padding: 10px">
              <button
                class="detail"
                v-if="!akun"
                data-bs-toggle="modal"
                data-bs-target="#obat"
                type="button"
                @click="obatDetail(obat)"
              >
                Detail
              </button>
              <button
                class="detail"
                v-if="akun"
                data-bs-toggle="modal"
                data-bs-target="#obat"
                type="button"
                @click="obatDetail(obat)"
              >
                <i class="fas fa-info-circle"></i>
                Detail
              </button>
              <button
                class="beli"
                v-if="akun"
                @click="beliobat(obat)"
                type="button"
              >
                <i class="fas fa-shopping-cart"></i>
                beli
              </button>
            </td>
          </tr>
        </table>
      </div>
      <!-- end makanan obat -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "Makananobat",
  components: {
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formobat: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      obats: "",
      updateSubmitobat: false,
    };
  },
  mounted() {
    this.loadobat();
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  methods: {
    loadobat() {
      axios
        .get("http://localhost:3000/obats")

        .then((res) => {
          this.obats = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    beliobat(obat) {
      this.setCart([...this.cart, obat]);
    },
    obatDetail(obat) {
      this.formobat.id = obat.id;
      this.formobat.nama = obat.nama;
      this.formobat.expired = obat.expired;
      this.formobat.image = obat.image;
      this.formobat.harga = obat.harga;
    },
  },
};
</script>
<style scoped>
.table {
  margin-left: 70px;
  background-color: #0a67a1;
  color: white;
  height: 500px;
}

.table,
td,
th {
  border: 2px solid;
  width: 700px;
  text-align: center;
}
.modalobat {
  text-align: left;
}
.block {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 50px;
}
th {
  background-color: #002841;
  color: white;
}

button {
  border: none;
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beli {
  background-color: green;
  border-radius: 10px;
  padding: 9px;
  width: 100px;
  color: white;
  margin-left: 10px;
}
.beli:hover {
  background-color: rgb(71, 165, 48);
}
.obat {
   background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}
</style>
