<template>
  <div class="perlengkapan">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 85%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="perlengkapan"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail {{ formperlengkapan.nama }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <img
                  style="height: 120px"
                  :src="formperlengkapan.image"
                  alt=""
                  width="100px"
                />
                <br />
                <br />

                <h3 class="modalperlengkapan">
                  <div>Nama: {{ formperlengkapan.nama }}</div>
                  <div>Keterangan: {{ formperlengkapan.expired }}</div>
                  <div>Harga: Rp{{ formperlengkapan.harga }}</div>
                </h3>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan perlengkapan -->
    <div class="block">
      <table
        v-show="!updateSubmit"
        id="table-1"
        class="table"
        border="1"
        style="width: 93%"
      >
        <tr class="tr">
          <th style="width:5%">NO</th>
          <th>Nama Makanan</th>
          <th>Deskripsi</th>
          <th>Contoh</th>
          <th>Harga</th>
          <th>Action</th>
        </tr>

        <tr
          class="tr1"
          v-for="(perlengkapan, index) in perlengkapans"
          :key="perlengkapan.id"
        >
          <td>
            <span class="bb"> {{ index + 1 }}</span>
          </td>
          <td>
            <span class="bb"> {{ perlengkapan.nama }}</span>
          </td>
          <td>
            <span class="bb">{{ perlengkapan.deskripsi }}</span>
          </td>
          <td>
            <span
              ><img
                style="height: 120px"
                :src="perlengkapan.image"
                alt=""
                width="100px"
            /></span>
          </td>
          <td>{{perlengkapan.harga}}</td>
          <td>
             <button class="detail"
            v-if="!akun"
              data-bs-toggle="modal"
              data-bs-target="#perlengkapan"
              type="button"
              @click="perlengkapanDetail(perlengkapan)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
            <button class="detail"
            v-if="akun"
              data-bs-toggle="modal"
              data-bs-target="#perlengkapan"
              type="button"
              @click="perlengkapanDetail(perlengkapan)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
            <button class="beli"
              v-if="akun"
              @click="beliperlengkapan(perlengkapan)"
              type="button"
            ><i class="fas fa-shopping-cart"></i>
              beli
            </button>
          </td>
        </tr>
      </table>
    </div>
      <!-- end makanan perlengkapan -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "../components/Sidebar.vue";
export default {
  name: "Makananperlengkapan",
  components: {
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formperlengkapan: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      perlengkapans: "",
      updateSubmitperlengkapan: false,
    };
  },
  mounted() {
    this.loadperlengkapan();
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  methods: {
    loadperlengkapan() {
      axios
        .get("http://localhost:3000/perlengkapans")

        .then((res) => {
          this.perlengkapans = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    beliperlengkapan(perlengkapan) {
      this.setCart([...this.cart, perlengkapan]);
    },
    perlengkapanDetail(perlengkapan) {
      this.formperlengkapan.id = perlengkapan.id;
      this.formperlengkapan.nama = perlengkapan.nama;
      this.formperlengkapan.expired = perlengkapan.expired;
      this.formperlengkapan.image = perlengkapan.image;
      this.formperlengkapan.harga = perlengkapan.harga;
    },
  },
};
</script>
<style scoped>
.table {
  margin-left: 70px;
  background-color: #0a67a1;
  height: 500px;
  color: white;
}
th {
  background-color: #002841;
}
table, td, th {
  border: 2px solid;
    width: 1000px; 
  text-align: center;
}
.modalperlengkapan {
  text-align: left;
}
.block {
  padding-left: 120px;
  padding-right: 120px;
     padding-top:50px;
}
.tr1:hover {
  background-color: #007ecc;
  transition: 1s;  
}
button {
  border: none;
  color: white;
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beli {
  background-color: green;
  border-radius: 10px;
  padding: 9px;
  width: 100px;
  color: white;
  margin-left: 10px;
}
.beli:hover {
    background-color: rgb(71, 165, 48);
}
.perlengkapan {
   background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}

</style>
