<template>
  <div class="sembako">
    <Sidebar />
    <router-link
      v-if="akun"
      class="btn btn-success position-relative"
      style="margin: 20px 10px 20px 85%"
      to="/cart"
      ><i class="fas fa-cart-arrow-down"></i>Cart</router-link
    >
    <!-- Button trigger modal -->

    <div class="induk">
      <!-- Modal -->
      <div
        class="modal fade"
        id="sembako"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Detail {{ formsembako.nama }}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div>
                <img
                  style="height: 120px; padding:-4%"
                  :src="formsembako.image"
                  alt=""
                  width="90px"
                />
                <br />
                <br />

                <h3 class="modalsembako">
                  <div>Nama: {{ formsembako.nama }}</div>
                  <div>Keterangan: {{ formsembako.expired }}</div>
                  <div>Harga: Rp{{ formsembako.harga }}</div>
                </h3>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Makanan sembako -->
      <div class="block">
      <table
        v-show="!updateSubmit"
        id="table-1"
        class="table"
        border="1"
        style="width: 93%"
      >
        <tr class="tr">
          <th style="width:4%">NO</th>
          <th style="width:15%">Nama Makanan</th>
          <th style="width:40%">Deskripsi</th>
          <th>Contoh</th>
          <th style="width:10%">Harga</th>
          <th style="width:25%">Action</th>
        </tr>

        <tr class="tr1" v-for="(sembako, index) in sembakos" :key="sembako.id">
          <td>
            <span class="bb"> {{ index + 1 }}</span>
          </td>
          <td>
            <span class="bb"> {{ sembako.nama }}</span>
          </td>
          <td>
            <span class="bb">{{ sembako.deskripsi }}</span>
          </td>
          <td>
            <span
              ><img
                style="height: auto"
                :src="sembako.image"
                alt=""
                width="100px"
            /></span>
          </td>
          <td>{{sembako.harga}}</td>
          <td>
            <button class="detail" v-if="!akun"
              data-bs-toggle="modal"
              data-bs-target="#sembako"
              type="button"
              @click="sembakoDetail(sembako)"
            >
              Detail
            </button>
            <button class="detail" v-if="akun"
              data-bs-toggle="modal"
              data-bs-target="#sembako"
              type="button"
              @click="sembakoDetail(sembako)"
            ><i class="fas fa-info-circle"></i>
              Detail
            </button>
            <button class="beli" v-if="akun" @click="belisembako(sembako)" type="button"><i class="fas fa-shopping-cart"></i>
              beli
            </button>
            <!-- <h1>Hello</h1> -->
          </td>
        </tr>
      </table>
      </div>
      <!-- end makanan sembako -->
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import axios from "axios";
import Sidebar from "@/components/Sidebar.vue";
export default {
  components: { Sidebar },
  name: "Makanansembako",

  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formsembako: {
        nama: "",
        deskripsi: "",
        image: "",
        expired: "",
        id: 1,
      },
      sembakos: "",
      updateSubmitsembako: false,
    };
  },
  mounted() {
    this.loadsembako();
  },
  computed: {
    akun() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  methods: {
    loadsembako() {
      axios
        .get("http://localhost:3000/sembakos")

        .then((res) => {
          this.sembakos = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    belisembako(sembako) {
      this.setCart([...this.cart, sembako]);
    },
    sembakoDetail(sembako) {
      this.formsembako.id = sembako.id;
      this.formsembako.nama = sembako.nama;
      this.formsembako.expired = sembako.expired;
      this.formsembako.image = sembako.image;
      this.formsembako.harga = sembako.harga;
    },
  },
};
</script>
<style scoped>
table {
  margin-left: 70px;
  background-color: #0a67a1;
  height: 500px;
  color: white;
}

.table, td, th {
  border: 2px solid;
  color:white;
    width: 1000px; 
  text-align: center;
}
.modalsembako {
  text-align: left;
}
.block {
  padding-left: 120px;
  padding-right: 120px;
  padding-top:50px;
}
.button {
  display: flex;
  justify-content: center;
  gap: 10px;
}
th {
  background-color: #002841;
  color: white;

}
.tr1:hover {
  background-color: #007ecc;
  transition: 1s;  
}
button {
  border: none;
}
.detail {
  background-color: rgb(223, 122, 0);
  border-radius: 10px;
  color: white;
   width: 100px;
    padding: 10px; 
}
.detail:hover {
  background-color: rgb(253, 143, 8);
}
.beli {
  background-color: green;
  border-radius: 10px;
  padding: 9px;
  width: 100px;
  color: white;
  margin-left: 10px;
}
.beli:hover {
    background-color: rgb(71, 165, 48);
}
.sembako {
   background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm222-mind-16_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=1c53e59a7b21c1ffee85bc36a3837392);
  background-size: cover;
  height: 700px;
}

</style>
